<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.revature.p2.P2Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openEmployeeTimeManagementway2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openEmployeeManagement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyLaunch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openEmployeeManagementway2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addTimeSheet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addNewLeave</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openEmployeeTimeManagement</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
