<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:41:49</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeTest()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:41:49</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:41:52</td>   <td>3362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.verifyLaunch()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">verifyLaunch</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:41:53</td>   <td>3810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:41:54</td>   <td>4687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:41:56</td>   <td>7357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.verifyLogin()[pri:1, instance:com.revature.p2.P2Test@7823a2f9]">verifyLogin</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:41:57</td>   <td>7838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:41:58</td>   <td>8624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:00</td>   <td>11479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.openEmployeeManagement()[pri:2, instance:com.revature.p2.P2Test@7823a2f9]">openEmployeeManagement</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:06</td>   <td>16969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:07</td>   <td>17763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:10</td>   <td>20564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.openEmployeeManagementway2()[pri:3, instance:com.revature.p2.P2Test@7823a2f9]">openEmployeeManagementway2</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:12</td>   <td>22829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:13</td>   <td>23617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:15</td>   <td>26339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.addNewLeave()[pri:4, instance:com.revature.p2.P2Test@7823a2f9]">addNewLeave</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:19</td>   <td>29537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:19</td>   <td>30324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:22</td>   <td>33212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.openEmployeeTimeManagement()[pri:5, instance:com.revature.p2.P2Test@7823a2f9]">openEmployeeTimeManagement</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:26</td>   <td>36981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:27</td>   <td>37768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:29</td>   <td>40517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.openEmployeeTimeManagementway2()[pri:6, instance:com.revature.p2.P2Test@7823a2f9]">openEmployeeTimeManagementway2</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:34</td>   <td>44916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:35</td>   <td>45699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:37</td>   <td>48509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.addTimeSheet()[pri:7, instance:com.revature.p2.P2Test@7823a2f9]">addTimeSheet</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:42</td>   <td>53257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:43</td>   <td>54050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;P2Test.beforeMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:46</td>   <td>56827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P2Test.logout()[pri:8, instance:com.revature.p2.P2Test@7823a2f9]">logout</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:46</td>   <td>57375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;P2Test.afterMethod()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>16/07/22 16:42:47</td>   <td>58168</td> <td>&nbsp;</td><td title="&lt;&lt;P2Test.afterTest()[pri:0, instance:com.revature.p2.P2Test@7823a2f9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
</table>
